html, body {
  text-align: center;
}

h1{
  font-size: 36px;
  font-family: impact;
}

p {
  font-style: italic;
  font-size:
}

img {
  float: none;
  margin: auto;
  width: 50%;
  padding-bottom: 2%;
}
